<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ingreso</servlet-name>
        <servlet-class>controlador.ingreso_cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>join</servlet-name>
        <servlet-class>controlador.join</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingreso_usuario</servlet-name>
        <servlet-class>controlador.ingreso_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingreso_producto</servlet-name>
        <servlet-class>controlador.ingreso_producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingreso_compra</servlet-name>
        <servlet-class>controlador.ingreso_compra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingreso_cliente</servlet-name>
        <servlet-class>controlador.ingreso_cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingreso_ventas</servlet-name>
        <servlet-class>controlador.ingreso_ventas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ingreso</servlet-name>
        <url-pattern>/ingreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>join</servlet-name>
        <url-pattern>/join</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingreso_usuario</servlet-name>
        <url-pattern>/ingreso_usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingreso_producto</servlet-name>
        <url-pattern>/ingreso_producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingreso_compra</servlet-name>
        <url-pattern>/ingreso_compra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingreso_cliente</servlet-name>
        <url-pattern>/ingreso_cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingreso_ventas</servlet-name>
        <url-pattern>/ingreso_ventas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
